extends layout

block content
  h1 Order a damn burger
  div
    form(id='orderForm', name='input', action='/order/create', method='post')
      key What's your name?
      input(type='text', name = 'customerName')
      <br>
      <br>
      each ingredient, i in ingredients
        input(type='checkbox', name = 'ing', value=ingredient._id) 
        div(value= ingredient) #{ingredient.name} costs #{ingredient.cost} dollars
        br

      
      input(type='submit', value='Submit')
      
      #result

